body {
	font-family: Vollkorn;
	text-align: center;
}

html, body {
	height: 100%;
}

.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -30px;
}

.page-wrap:after {
	content: "";
	display: block;
}

.footer, .page-wrap:after {
	display: none;
}

@media only screen and (min-width: 500px) {
	.footer, .page-wrap:after {
		display: inline-block;
		height: 30px;
	}
}

.response {
	font-size: 5em;
	margin-top: 4em;
}

.separator {
	width: 30%;
	border: 0;
	background-color: #000;
	height: 1px;
}
